@page
@model RegistrosModel
@{ ViewData["Title"] = "Resgistros"; }

<!-- Registro porcinos container -->
<div class="container-lg mb-5 py-3 shadow-lg rounded-3 border">
    <form action="" method="post" class="row">
        <!-- Formulario Porcino -->
        <div class="col-12 col-md-6">
            <div class="row">
                <h3 class="col-12 text-nowrap">Registra un porcino 🐽</h3>
                <div class="col-6 col-md-12 col-lg-6 form-group mb-2">
                    <label>Nombre</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-6 col-md-12 col-lg-6 form-group mb-2">
                    <label>Color</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-6 col-md-12 col-lg-6 form-group mb-2">
                    <label>Especie</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-6 col-md-12 col-lg-6 form-group mb-2">
                    <label>Raza</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <!-- Formulario Propietario -->
        <div class="col-12 col-md-6">
            <div class="row">
                <h3 class="col-12 text-truncate">Registra su propietario 👤</h3>
                <div class="col-6 col-md-12 col-lg-6 form-group mb-2">
                    <label>Nombres</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-6 col-md-12 col-lg-6 form-group mb-2">
                    <label>Apellidos</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-12 form-group mb-2">
                    <label>Email</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-12 form-group mb-2">
                    <label>Direccion</label>
                    <div class="row">
                        <div class="col-6">
                            <input type="text" class="mb-2 form-control" placeholder="Carrera">
                        </div>
                        <div class="col-6">
                            <input type="text" class="mb-2 form-control" placeholder="Calle">
                        </div>
                        <div class="col-6">
                            <input type="text" class="mb-2 form-control" placeholder="Número">
                        </div>
                        <div class="col-6">
                            <input type="text" class="mb-2 form-control" placeholder="Ciudad">
                        </div>
                        <div class="col-6">
                            <input type="text" class="mb-2 form-control" placeholder="Departamento">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Botón Submit -->
        <div class="col-sm-1 mt-3">
            <button type="submit" class="btn btn-primary">Confirmar</button>
        </div>
    </form>
</div>
<!-- Registro veterinarios container -->
<div class="container-lg py-3 shadow-lg rounded-3 border">
    <form action="" method="post" class="row">
        <div class="col-12">
            <div class="row">
                <h3 class="col-12 text-nowrap">Registra un veterinario 👨‍⚕️🩺</h3>
                <div class="col-6 col-lg-4 form-group mb-2">
                    <label>Nombres</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-6 col-lg-4 form-group mb-2">
                    <label>Apellidos</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-6 col-lg-4 form-group mb-2">
                    <label>Tarjeta profesional</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-12 col-lg-12 form-group mb-2">
                    <label>Direccion</label>
                    <div class="row">
                        <div class="col-4">
                            <input type="text" class="mb-2 form-control" placeholder="Carrera">
                        </div>
                        <div class="col-4">
                            <input type="text" class="mb-2 form-control" placeholder="Calle">
                        </div>
                        <div class="col-4">
                            <input type="text" class="mb-2 form-control" placeholder="Número">
                        </div>
                        <div class="col-4">
                            <input type="text" class="mb-2 form-control" placeholder="Ciudad">
                        </div>
                        <div class="col-4">
                            <input type="text" class="mb-2 form-control" placeholder="Departamento">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1 mt-3">
            <button type="submit" class="btn btn-primary">Confirmar</button>
        </div>
    </form>
</div>